{{#link-to 'user.index' session.currentUser}}
  {{gravatar-image email=model.email alt=model.name size=80 class='gravatar' size=50}}
{{/link-to}}
<h1>{{model.name}}</h1>
<span> {{link-to "View my profile" 'user.index' model}} </span>
<span>{{model.micropostsCount}} {{pluralize "micropost" model.micropostsCount}}</span>
