{{#if title}}
  <h3>{{title}}</h3>
{{else}}
  {{#if model.length}}
    <h3>Microposts ({{micropostsCount}}) </h3>
  {{/if}}
{{/if}}
{{#if model}}
  <ol class="microposts">
    {{#each model as |micropost|}}
      <li class={{micropost.id}}>
        {{gravatar-image email=micropost.user.email alt=micropost.user.name size=50 class='gravatar'}}

        <span class="user">{{link-to micropost.user.name 'user.index' micropost.user}}</span>
        <span class="content">
          {{! here .content delegates to the proxy object content/model}}
          {{micropost.content}}
        </span>
        <span class="timestamp">
          Posted about {{moment-from-now micropost.createdAt interval=10000}}.
          {{#if micropost.isAuthor}}
          <a href="#" {{action 'deleteMicropost'}}>delete</a>
          {{/if}}
        </span>
      </li>

    {{/each}}
  </ol>

  {{simple-pagination 
    recordCount=meta.total-count
    pageSize=25
    pageNumber=meta.current-page
    maxPagesInList=10
    onPageSelect=(route-action "getPage")}}
{{/if}}
